.store{
    padding-top: 150px ;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 100px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .item_hover{
        box-shadow: 5px 5px 25px rgba(0, 128, 0, 0.368);
    }
}




.item{
    border: solid 2.5px green;
}